<!doctype html>
<html>
    <head>
        <title>Calculator App</title>
    </head>
    <body>
        <h1>Welcome to the Calculator app!</h1>
        <p>Please enter two numbers below to discover their sum!</p>
        <form action="" method="post">
            <input type="text" name="first_number">
            <input type="text" name="second_number">
            <button type="submit">Submit</button>
        </form>


        {% if results %}
          <h1>Here are your results:</h1>
          <h2>The sum of {{ results['first_number'] }} and {{ results['second_number' ]}} is {{ results['sum'] }}
        {% endif %}
    </body>
</html>
