<!doctype html>
<html>
    <head>
        <title>Calculator App</title>
    </head>
    <body>
        <h1>Welcome to the Calculator app!</h1>
        <p>Please enter two numbers below to discover their sum!</p>
        <form action="" method="post">
            <input type="text" name="first_number">
            <input type="text" name="second_number">
            <button type="submit">Submit</button>
        </form>


        {% if name %}
          <h1>Hello {{ name }}!</h1>
        {% else %}
          <h1>Hello, World!</h1>
        {% endif %}
    </body>
</html>
